* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

textarea {
    width: 100%;
    padding: 0.35rem;
    outline: none;
}

.container {
    margin: auto;
    text-align: center;
    margin-top: 2rem;
}

a {
    line-height: 1.5;
    text-decoration: none;
    color: #00aff8
}

a:hover {
    text-decoration: underline;
    color: #0089c2
}

small {
    display: block;
    margin-bottom: 1rem;
    color: #666;
}

nav {
    display: flex;
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #002147;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
}

nav a:hover {
    color: #eee;
}

.text-container {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: top;
    margin-top: 2rem;
    gap: 1rem;
}

.btn {
    display: inline-block;
    background: #002147;
    color: #fff;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
    outline: none;
    margin-top: 5px;
}

#translate:hover {
    background: #003066
}

footer {
    background-color: #002147;
    color: #fff;
    text-align: center;
    padding: 2rem;
    margin-top: 1rem;
}


@media (max-width: 768px) {
    .text-container {
        flex-direction: column;
        margin-top: 5rem;
        margin-left: 0.35rem
    }

    #translate {
        margin-top: 0;
        margin-bottom: 2rem;
    }
}
