* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: sans-serif;
}

textarea {
    padding: 0.35rem;
    outline: none;
}

.container {
    margin: auto;
    text-align: center;
    margin-top: 2rem;
}

a {
    line-height: 1.5;
    text-decoration: none;
    color: #00aff8
}

a:hover {
    text-decoration: underline;
    color: #0089c2
}

small {
    display: block;
    margin-bottom: 1rem;
    color: #666;
}

nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0.5rem;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    background-color: #002147;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
}

nav a:hover {
    color: #eee;
}

.text-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    margin-top: 12rem;
}

.english-text {
    margin-right: 4rem;
}

#translate {
    display: block;
    background: #002147;
    color: #fff;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
    outline: none;
    margin-top: 5px;
}

#translate:hover {
    background: #003066
}

footer {
    background-color: #002147;
    color: #fff;
    text-align: center;
    padding: 2rem;
    margin-top: 1rem;
}


@media (max-width: 768px) {
    .text-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 5rem;
        margin-left: 0.35rem
    }

    #translate {
        margin-top: 0;
        margin-bottom: 2rem;
    }
}
